@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
/* ROOT VARIABLES */
:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-backgorund: #f6f6f9;
  --card-border-radius: 2rem;
  --card-backgroud-color: rgba(255, 255, 255, .9);
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  --input-border-radius: 1.5rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --input-padding: 0.7rem;
  --box-shadow: 0 2rem 3rem var(--color-light);
}

html,
body {
  background: linear-gradient(162deg, rgb(255, 255, 255), rgba(209, 209, 209, 0.7));
  /* background-color: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%); */
  font-family: "poppins", "sans-serif";
  font-size: 0.85rem;
  height: 100vh;
  width: 100vw;
}

.bg-color-primary {
  background-color: var(--color-primary);
}

.bg-color-warning {
  background-color: var(--color-warning);
}

.bg-color-success {
  background-color: var(--color-success);
}

.navbar {
  transition: all 300ms ease;
}
.navbar .container .navbar-nav {
  background-color: var(--color-white);
  padding: 2px 20px 2px 20px;
  border-radius: var(--border-radius-3);
  background-color: var(--color-white);
  box-shadow: 0 1px 2px var(--color-light);
}
.navbar .container .navbar-nav .nav-link {
  margin-left: 10px;
}

div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

table.display tr td {
  font-size: 0.9rem;
}

a {
  color: var(--color-dark);
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  border-radius: var(--border-radius-2);
}

.card {
  border-radius: var(--border-radius-3);
  padding: 10px;
  background: var(--card-backgroud-color);
  border: 0;
  box-shadow: var(--box-shadow);
}

.container.dashboard-home {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container.dashboard-home .menu-sources ul.menu-sources-tab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item {
  width: 30vw;
}
.container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-3);
  padding: 10px;
  background: var(--card-backgroud-color);
  height: 8vh;
  transition: all 300ms ease;
}
.container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a.active {
  background: var(--color-dark);
  color: var(--color-primary);
}
.container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a:hover {
  color: var(--color-warning);
  background: var(--color-dark);
  box-shadow: var(--box-shadow);
}
.container.dashboard-home .info-saldo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}
.container.dashboard-home .info-saldo .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  font-size: 0.6rem;
  overflow: hidden;
  padding: 1rem;
}
.container.dashboard-home .info-saldo .card h5 {
  font-size: 0.8rem;
}
.container.dashboard-home .info-saldo .card h1 {
  font-weight: bold;
  font-size: 1rem;
}
.container.dashboard-home .table-rekap {
  background-color: var(--card-backgroud-color);
  border-radius: var(--border-radius-3);
  padding: 1.8rem 0.5rem 1.8rem 0.5rem;
  box-shadow: var(--box-shadow);
}

.container-satu .side-menu-trx {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: var(--border-radius-3);
}
.container-satu .side-menu-trx h4 {
  color: var(--color-warning);
}
.container-satu .side-menu-trx ul {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
  flex-wrap: wrap;
  padding: 0;
}
.container-satu .side-menu-trx ul li a {
  display: flex;
  color: var(--color-white);
  gap: 0.5rem;
  /* justify-content: center; */
  padding: 0.5rem 1rem 0.5rem 1rem;
  align-items: center;
  border-radius: var(--border-radius-2);
  transition: all 300ms ease;
}
.container-satu .side-menu-trx ul li a.active {
  background: var(--color-warning);
  color: var(--color-dark);
}
.container-satu .side-menu-trx ul li a:hover {
  color: var(--color-dark);
  background: var(--color-warning);
  box-shadow: var(--box-shadow);
}
.container-satu .side-menu-notif .notification-input {
  gap: 0.2rem;
}
.container-satu .side-menu-notif .notification-input .card-notif {
  display: flex;
  transition: all 300ms ease;
}
.container-satu .side-menu-notif .notification-input .card-notif .card-notif-body {
  border-radius: var(--border-radius-3) 0px 0px var(--border-radius-3);
  padding: 10px;
  background: var(--card-backgroud-color);
  flex: 6;
}
.container-satu .side-menu-notif .notification-input .card-notif .btn-notif {
  border-radius: 0px var(--border-radius-3) var(--border-radius-3) 0px;
  flex: 1;
}
.container-satu .side-menu-notif .notification-input .card-notif:hover {
  transform: translateY(-2px);
}
.container-satu .mid-content button#btn-copy {
  border-radius: 0 0 var(--border-radius-3) var(--border-radius-3);
}

@media only screen and (min-width: 768px) {
  .container.dashboard-home {
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh auto;
    grid-template-areas: "menu-sources menu-sources" "info-saldo table-rekap";
    gap: 1rem;
  }
  .container.dashboard-home .menu-sources {
    grid-area: menu-sources;
  }
  .container.dashboard-home .menu-sources ul.menu-sources-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item {
    width: 30vw;
  }
  .container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-3);
    padding: 10px;
    background: var(--card-backgroud-color);
    height: 10vh;
    transition: all 300ms ease;
  }
  .container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a.active {
    background: var(--color-dark);
    color: var(--color-primary);
  }
  .container.dashboard-home .menu-sources ul.menu-sources-tab li.menu-sources-item a:hover {
    color: var(--color-warning);
    background: var(--color-dark);
    box-shadow: var(--box-shadow);
  }
  .container.dashboard-home .info-saldo {
    grid-area: info-saldo;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .container.dashboard-home .info-saldo .card {
    height: 16vh;
  }
  .container.dashboard-home .info-saldo .card h1 {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 0 7px 0 0;
  }
  .container.dashboard-home .table-rekap {
    grid-area: table-rekap;
    background-color: var(--card-backgroud-color);
    border-radius: var(--border-radius-3);
    padding: 1.8rem 0.5rem 1.8rem 0.5rem;
  }
  .container-satu {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  .container-satu .side-menu-trx {
    height: 60vh;
    flex: 1;
  }
  .container-satu .side-menu-trx ul {
    flex-direction: column;
  }
  .container-satu .side-menu-trx ul li a {
    height: 3rem;
  }
  .container-satu .side-menu-trx ul li a.active {
    margin-left: 0;
  }
  .container-satu .side-menu-trx ul li a:hover {
    transform: translate(-5px, 0);
  }
  .container-satu .mid-content {
    flex: 3;
  }
  .container-satu .side-menu-notif {
    flex: 1.5;
  }
  .container-satu .card-notif {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=mycss.css.map */