@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* ROOT VARIABLES */
:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-backgorund: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --input-border-radius: 1.5rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --input-padding: 0.7rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

html,
body {
    background-color: #ececec;
    /* background-color: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(236, 236, 236, 1) 100%); */
    font-size: 14px;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

a {
    color: var(--color-dark);
    text-decoration: none;
}

ul {
    list-style: none;
}

.card {
    border-radius: var(--border-radius-3);
    padding: 10px;
    background: rgba(255, 255, 255, .6);
}

.container.dashboard-home {
    height: 80vh;
    width: 100%;
    // background-color: #363949;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10vh auto;
    grid-template-areas:
        'menu-sources menu-sources'
        'info-saldo table-rekap';
    gap: 1rem;

    .menu-sources {
        grid-area: menu-sources;
        // background-color: #363949;

        ul.menu-sources-tab {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            list-style: none;
            margin: 0;
            padding: 0;

            li.menu-sources-item {
                width: 30vw;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: var(--border-radius-3);
                    padding: 10px;
                    background: rgba(255, 255, 255, .6);
                    height: 10vh;
                    transition: all 300ms ease;
                }

                a.active {
                    background: var(--color-dark);
                    color: var(--color-primary);
                }

                a:hover {
                    color: var(--color-warning);
                    background: var(--color-dark);
                    box-shadow: var(--box-shadow);
                }

            }
        }
    }

    .info-saldo {
        grid-area: info-saldo;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        .card {
            height: 16vh;
        }
    }

    .table-rekap {
        grid-area: table-rekap;
        padding: var(--card-padding);
        // background-color: #41f1b6;
    }
}

.container-satu {
    .side-menu-trx {

        ul {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            flex-wrap: wrap;
            padding: 0;

            li {
                a {
                    display: flex;
                    background: rgb(237, 243, 147);
                    gap: 0.5rem;
                    /* justify-content: center; */
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    align-items: center;
                    border-radius: var(--border-radius-2);
                    transition: all 300ms ease;
                }

                a.active {
                    background: var(--color-dark);
                    color: var(--color-primary);
                }

                a:hover {
                    color: var(--color-warning);
                    background: var(--color-dark);
                    box-shadow: var(--box-shadow);
                }
            }

        }

    }

    .side-menu-notif {
        .notification-input {
            gap: 0.5rem;

            .card-notif {
                display: flex;

                .card-notif-body {
                    border-radius: var(--border-radius-3) 0px 0px var(--border-radius-3);
                    padding: 10px;
                    background: rgba(255, 255, 255, .6);
                    flex: 6;
                }

                .btn-notif {
                    border-radius: 0px var(--border-radius-3) var(--border-radius-3) 0px;
                    flex: 1;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container-satu {
        display: flex;
        gap: 1rem;
        flex-wrap: nowrap;

        .side-menu-trx {
            height: 60vh;
            flex: 1;

            ul {
                flex-direction: column;

                li {
                    a {
                        height: 4rem;
                    }

                    a.active {
                        margin-left: 0;
                        transform: translate(-15px, 0);
                    }

                    a:hover {
                        transform: translate(-15px, 0);
                    }
                }
            }

        }

        .mid-content {
            flex: 3;
        }

        .side-menu-notif {
            flex: 1.5;
        }

        .card-notif {
            font-size: 0.8rem;
        }
    }
}